@model UsingAPIs.Areas.Pokemons.Models.PokemonEvolution.EvolvesTo

@{ }

<td>
    <partial name="_EvolutionDetail" model="@Model.evolution_details.FirstOrDefault()" />
</td>
<td>
    <partial name="_PokeTile" model="@Model.Pokemon" />
</td>