@model PokeListViewModel
<!--for (int i = (Model.Pagination.Page - 1) * Model.Pagination.PageSize; i < ((Model.Pagination.Page - 1) * Model.Pagination.PageSize) + Model.Pagination.PageSize; i++)-->
@foreach(var item in Model.Pokemons)
{
    //var item = Model.Pokemons.ElementAt(i);
    <partial name="_PokeTile" model=item />

}
<div class="clearfix"></div>


