
.pokediv {
    margin: 2px;
    min-width: 235px;
    height: 103px;
    position: relative;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

    .pokediv .centerhor {
        margin-top: 30px;
    }

.pokelink {
    text-decoration: none;
    display: block;
    color: inherit;
}

    .pokelink:link {
       text-decoration: none;
    }

/* BADGES */

.badge-normal {
    background-color: #A8A878;
}

.badge-fighting {
    background-color: #C03028;
}

.badge-flying {
    background-color: #A890F0;
}

.badge-poison {
    background-color: #A040A0;
}

.badge-ground {
    background-color: #E0C068;
}

.badge-rock {
    background-color: #B8A038;
}

.badge-bug {
    background-color: #A8B820;
}

.badge-ghost {
    background-color: #705898;
}

.badge-steel {
    background-color: #B8B8D0;
}

.badge-fire {
    background-color: #F08030;
}

.badge-water {
    background-color: #6890F0;
}

.badge-grass {
    background-color: #78C850;
}

.badge-electric {
    background-color: #F8D030;
}

.badge-psychic {
    background-color: #F85888;
}

.badge-ice {
    background-color: #98D8D8;
}

.badge-dragon {
    background-color: #7038F8;
}

.badge-dark {
    background-color: #705848;
}

.badge-fairy {
    background-color: #EE99AC;
}