@model Gif
@{
    ViewData["Title"] = "Index";
}

<h2>Twoje GIFy</h2>

@if(!String.IsNullOrEmpty(ViewBag.Search))
{
    <h4>Gify z @ViewBag.Search</h4>
}

<form >
    <div class="input-group">
        <input type="search" name="search" class="input-sm" placeholder="Search"/>
    </div>

</form>


@foreach(var item in Model.data)
{
    <img src="@item.images.original.url" />
}