@model GifViewModel
@{
    ViewData["Title"] = "Your GIFs";
}

<h2>Your GIFs</h2>

@if(!String.IsNullOrEmpty(Model.Pagination.Search))
{
    <h4>Gifs with @Model.Pagination.Search</h4>
}

<form class="form-inline">
    <div class="input-group">
        <input type="search" name="search" class="form-control" placeholder="Search" />
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
<br />
<div class="row">
    @foreach (var item in Model.Gif.data)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <img src="@item.images.original.url" class="img-responsive"/>
        </div>
    }
</div>

@await Html.PartialAsync("_Pagination", Model.Pagination)